<div class="skills">
  <h2>SKILL's</h2>
  <h5>I'm experienced in...</h5>
  <div class="skill-img">
    <div class="image">
      <img src="../../../../assets/image/logo/angular.svg" />
    </div>
    <div class="image">
      <img src="../../../../assets/image/logo/dotnet.svg" />
    </div>

    <div class="larger">
      <img
        src="../../../../assets/image/logo/microsoft-sql-server-logo-svgrepo-com.svg"
        class="cv2"
      />
    </div>
    <div class="image">
      <img src="../../../../assets/image/logo/azure.svg" />
    </div>
    <div class="image">
      <img src="../../../../assets/image/icons/py-logo.png" />
    </div>
    <div class="image">
      <img src="../../../../../assets/image/logo/node-js-seeklogo.svg" />
    </div>
    <div class="image">
      <img src="../../../../../assets/image/logo/langchain-seeklogo.svg" />
    </div>
  </div>
</div>
