<div
  class="grid-offer text-left grid sm:grid-cols-2 md:grid-cols-2 gap-5 max-w-6xl mx-auto"
>
  <div class="card bg-card p-10 relative">
    <div class="circle"></div>
    <div class="relative lg:pr-52">
      <h2 class="capitalize text-white mb-4 text-2xl xl:text-3xl">
        Software Engineer <br />
        Kovai.co
      </h2>
      <p class="text-gray-400">
        I collaborated with the team to bring Gen AI to life, using prompt
        engineering and the LangChain framework in Python. This boosted our
        product's capabilities, making it more user-friendly and innovative
      </p>
    </div>
    <div class="icon"></div>
  </div>
  <div class="card bg-card p-10 relative">
    <div class="circle"></div>
    <div class="relative lg:pl-48">
      <h2 class="capitalize text-white text-2xl xl:text-3xl">
        Junior software Engineer
      </h2>
      <p class="text-gray-400">
        I designed and developed a built-in usage analytics tool using es-build,
        TypeScript, Azure function apps and a Chrome extension.
      </p>
    </div>
  </div>
  <div class="card bg-card p-10 relative">
    <div class="circle"></div>
    <div class="relative lg:pr-44">
      <h2 class="capitalize text-white mb-4 text-2xl xl:text-3xl">
        Product Engineer intern <br />kovai.co
      </h2>
      <p class="text-gray-400">
        Improved maintainability, scalability, and reliability by refactoring
        previous code.
        <br />• Followed agile methodology to ensure timely delivery of software
        projects
      </p>
    </div>
  </div>
  <div class="card bg-card p-10 relative">
    <div class="circle"></div>
    <div class="relative lg:pl-48">
      <h2 class="capitalize text-white mb-4 text-2xl xl:text-3xl">
        Python developer intern<br />
      </h2>
      <p class="text-gray-400">
        Converted invoice images into structured CSV data using image processing
        and NLP. Developed a REST API for frontend integration, ensuring
        seamless data retrieval and enhancing overall system functionality
      </p>
    </div>
  </div>
</div>
