<div>
  <div id="flake" class="flex">
    <i class="fa fa-android fa-2x flake1"></i>
    <i class="fa fa-battery-three-quarters fa-3x flake2"></i>
    <i class="fa fa-television fa-4x flake1"></i>
    <i class="fa fa-bug fa-3x flake3"></i>
    <i class="fa fa-check-square fa-5x flake4"></i>
    <i class="fa fa-child fa-4x flake5"></i>
    <i class="fa fa-instagram fa-2x flake6"></i>
    <i class="fa fa-bookmark fa-3x flake8"></i>
    <i class="fa fa-clock-o fa-2x flake7"></i>
    <i class="fa fa-amazon fa-2x flake5"></i>
    <i class="fa fa-coffee fa-4x flake1"></i>
    <i class="fa fa-apple fa-2x flake6"></i>
    <i class="fa fa-cogs fa-3x flake4"></i>
    <i class="fa fa-envelope-o fa-2x flake3"></i>
    <i class="fa fa-file-code-o fa-3x flake7"></i>
    <i class="fa fa-eyedropper fa-4x flake8"></i>
    <i class="fa fa-youtube-play fa-2x flake1"></i>
    <i class="fa fa-file-image-o fa-5x flake6"></i>
    <i class="fa fa-film fa-3x flake7"></i>
    <i class="fa fa-dropbox fa-2x flake5"></i>
    <i class="fa fa-folder-open-o fa-5x flake4"></i>
    <i class="fa fa-refresh fa-2x flake3"></i>
    <i class="fa fa-flag fa-5x flake8"></i>
    <i class="fa fa-facebook-official fa-2x flake1"></i>
    <i class="fa fa-headphones fa-3x flake3"></i>
    <i class="fa fa-heart fa-4x flake4"></i>
    <i class="fa fa-twitter fa-2x flake8"></i>
    <i class="fa fa-rss-square fa-4x flake7"></i>
    <i class="fa fa-github fa-2x flake5"></i>
    <i class="fa fa-thumb-tack fa-3x flake1"></i>
    <i class="fa fa-chrome fa-2x flake8"></i>
    <i class="fa fa-wifi fa-4x flake3"></i>
    <i class="fa fa-thumbs-up fa-5x flake6"></i>
    <i class="fa fa-camera-retro fa-3x flake2"></i>
    <i class="fa fa-bug fa-4x flake4"></i>
    <i class="fa fa-bell fa-3x flake3"></i>
    <i class="fa fa-birthday-cake fa-2x flake5"></i>
    <i class="fa fa-bomb fa-3x flake6"></i>
    <i class="fa fa-building fa-4x flake7"></i>
    <i class="fa fa-bus fa-3x flake8"></i>
    <i class="fa fa-camera-retro fa-2x flake1"></i>
    <i class="fa fa-car fa-3x flake2"></i>
    <i class="fa fa-check-circle fa-4x flake3"></i>
    <i class="fa fa-coffee fa-3x flake4"></i>
    <i class="fa fa-cube fa-2x flake5"></i>
    <i class="fa fa-desktop fa-3x flake6"></i>
    <i class="fa fa-gavel fa-4x flake7"></i>
    <i class="fa fa-gift fa-3x flake8"></i>
    <i class="fa fa-heart fa-2x flake1"></i>
    <i class="fa fa-home fa-3x flake2"></i>
    <i class="fa fa-lightbulb-o fa-4x flake3"></i>
    <i class="fa fa-map-marker fa-3x flake4"></i>
    <i class="fa fa-money fa-2x flake5"></i>
    <i class="fa fa-paint-brush fa-3x flake6"></i>
    <i class="fa fa-paper-plane fa-4x flake7"></i>
    <i class="fa fa-phone fa-3x flake8"></i>
    <i class="fa fa-picture-o fa-2x flake1"></i>
    <i class="fa fa-shopping-cart fa-3x flake2"></i>
    <i class="fa fa-suitcase fa-4x flake3"></i>
    <i class="fa fa-tv fa-3x flake4"></i>
    <i class="fa fa-umbrella fa-2x flake5"></i>
    <i class="fa fa-university fa-3x flake6"></i>
    <i class="fa fa-users fa-4x flake7"></i>
  </div>
  <div #home class="hero" id="home">
    <div class="image">
      <img src="../../../../../assets/image/profile-pic.png" class="img" />
    </div>

    <div class="text-container">
      <p>Hello,</p>
      <p>I'm Mohamed Ali</p>
      <link
        href="https://fonts.googleapis.com/css?family=Raleway:200,100,400"
        rel="stylesheet"
        type="text/css"
      />
      <br />
      <h1 class="txt-r">
        I am
        <span class="txt-rotate"></span>
      </h1>
      <br />
      <a href="mailto:mkmohamedalimoli@gmail.com"
        ><button class="hire-btn">Mail</button></a
      >
      <a href="../../assets/resume/Mohamed_Resume.pdf" download="mohamed's_cv"
        ><button class="dwnld-cv">Download CV</button></a
      >
    </div>
  </div>
</div>
